.panel.panel-default
  .panel-body
    img.img-responsive.center-block.readerschoice-img src="images/2016-readers-choice-platinum-best-weight-loss.jpg" alt="Voted Best Weight Loss Clinic"
    h4.text-center Best Weight Loss Clinic
