.panel.panel-default
  .panel-body
    img.img-responsive.center-block.readerschoice-img src="images/2015-readers-choice-gold-best-weight-loss.jpg" alt="Voted Best Weight Loss Clinic"
    h4.text-center Best Weight Loss Clinic
